body {
  background-color: darkgray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

header {
  padding: 16px;
  display: flex;
  justify-content: center;
  background-color: silver;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
.search {
  background-color: gainsboro;
  border: 2px solid red;
  border-radius: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  color: black;
}
.search:focus {
  outline: none;
  background-color: darkgray;
}
.form {
  position: relative;
}
.x {
  position: absolute;
  top: 0;
  position: absolute;
  right: 12px;
  cursor: pointer;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 300px;
  /* height: 300px; */
  margin: 16px;
  background-color: silver;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.movie img {
  width: 100%;
  /* height: 100%; */
}
.movie-info {
  padding: 8px 16px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* letter-spacing: 0.5px; */
}
.movie-info span {
  border-radius: 20px;
  padding: 4px 8px;
  /* background-color: sienna; */
  width: 45px;
  text-align: center;
}
.orange {
  background-color: orange;
}
.green {
  background-color: lightgreen;
}
.movie-info span.red {
  background-color: red;
}
.overview {
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(100%);
  overflow-y: auto;
  transition: transform 0.5s ease-in;
}
.movie:hover .overview {
  transform: translateY(0);
}

.w {
  height: 20px;
}

.footer {
  padding: 0 20px;
  height: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  background-color: silver;
  align-items: center;
}
a {
  margin-left: 10px;
  display: flex;
  width: 170px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.img {
  margin-right: 10px;
  box-shadow: 0px -1px 20px 10px rgb(252 173 38);
  background-color: rgb(252 173 38);
}
